{{!-- if user is manager show the following --}} 
{{#if user.user.manager }} 
    {{!-- but haven't formed any team yet, then show 'create team' --}} 
    {{#unless user.user.team_id}}
        <a href="/createTeam" class="btn btn-danger my-3">Create Team</a>
    {{/unless}} 
    {{!-- if manager already has team, then show team details and available players --}} 
    {{#if user.user.team_id}}
        <div class="row">
            <div class="col">
                <div class="col text-center"><img src="/img/fifa-background.jpg" alt="" width="200px" height="200px"></div>
                <br>
                <div class="form-group backgroundForm">
                    <div class="clubDetails">
                        <label for="">Club name:&nbsp</label>
                        <span>{{user.user.teamname}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Available players details --}}
        <a href="/api/players" class="btn btn-danger fa">Show available players</a>
        <br><br>
        <div class="row" id="playerslist">
            
            {{#each players}}    
                <div class="card player-card" style="width: 20rem;">
                    <img class="card-img-top img-fluid" src="{{img}}" width='220px' height='220px'alt="Player picture">
                    <div class="card-block">
                        <h4 class="card-title">{{username}}</h4>
                        <p class="card-text">Position: {{position}}</p>
                        <p class="card-text">Location: {{location}}</p>
                        <form action="/api/requests" method="POST">
                            <input type="text" name="player" value={{email}} class="d-none">
                            <input type="submit" class="btn btn-primary btn-block" value="Invite to join">
                        </form>
                        {{!-- <a href="/api/requests/" class="btn btn-primary btn-block">Invite to join</a> --}}
                    </div>
                </div>       
            {{/each}}
            <p>user..{{user.user.id}}</p>
            
             
        </div>
    {{/if}}
{{/if}}

{{!-- Players block --}}
<div class="row my-3">
    <div class="col-md-7"> 
        <div class="card text-white bg-success mb-3" >
            <div class="card-header">Club : {{user.user.teamname}}</div>
            <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
      
    </div>
    </div>
    <div class="col-md-5">
        {{#each requests}}
            <div class="card player-card">
                    
                    <div class="card-block text-center">
                        <p class="card-header cardHead">Request from <strong>{{managerName}}</strong></p>
                        <div class="card-body cardBody">
                            <p class="card-text">Club: {{teamName}}</p>
                        </div>
                        <div class="card-footer cardFooter p-1">
                            <form action="/api/requests/accept" method="POST">
                                <input type="text" name="team_id" value={{team_id}} class="d-none">
                                <input type="submit" class="btn btn-primary d-inline-block" value="Accept">
                            </form>&nbsp&nbsp
                             <form action="/api/requests/reject" method="POST">
                                <input type="text" name="team_id" value={{team_id}} class="d-none">
                                <input type="submit" class="btn btn-danger d-inline-block" value="Reject">
                            </form>
                        </div>  
                    </div>
                </div>       
        {{/each}}
    </div>
</div>