{{!-- if user is manager show the following --}} 
{{#if user.user.manager }} 
    {{!-- but haven't formed any team yet, then show 'create team' --}} 
    {{#unless user.user.team_id}}
        <a href="/createTeam" class="btn btn-danger my-3">Create Team</a>
    {{/unless}} 
    {{!-- if manager already has team, then show team details and available players --}} 
    {{#if user.user.team_id}}
        <div class="row">
            <div class="col">
                <div class="col text-center"><img src="/img/fifa-background.jpg" alt="" width="200px" height="200px"></div>
                <br>
                <div class="form-group backgroundForm">
                    <div class="clubDetails">
                        <label for="">Club name:&nbsp</label>
                        <span>{{user.user.teamname}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Available players details --}}
        <a href="/api/players" class="btn btn-danger fa">Show available players</a>
        <br><br>
        <div class="row" id="playerslist">
            
            {{#each players}}    
                <div class="card player-card" style="width: 20rem;">
                    <img class="card-img-top img-fluid" src="{{img}}" width='220px' height='220px'alt="Player picture">
                    <div class="card-block">
                        <h4 class="card-title">{{username}}</h4>
                        <p class="card-text">Position: {{position}}</p>
                        <p class="card-text">Location: {{location}}</p>
                        <a href="#" class="btn btn-primary">Invite to join</a>
                    </div>
                </div>       
            {{/each}}
             
        </div>
    {{/if}}
{{/if}}