{{!-- if user is manager show the following --}} 
{{#if user.user.manager }} 
    {{!-- but haven't formed any team yet, then show 'create team' --}} 
    {{#unless user.user.team_id}}
        <a href="/createTeam" class="btn btn-danger my-3">Create Team</a>
    {{/unless}} 
    {{!-- if manager already has team, then show team details and available players --}} 
    {{#if user.user.team_id}}
        <div class="row">
           
            <div class="col-lg-12 banner">
                <div class=" text-center"><img src="/img/clubLogo.png" alt="" width="200px" height="200px"></div>
                <br>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-lg-8 col-md-8 mx-auto">
                    <div class="form-group">
                        <h2>Club :&nbsp<strong>{{user.user.teamname}}</strong></h2>
                        <div class="personalLists ">
                                <br><br>
                            <h3 class="subheading font-weight-bold">Squad</h3>
                            
                            {{#each players}}
                            <ul class="pdcol">
                                <li>
                                    <div class="label">{{username}}</div>
                                    <div class="info">{{position}}</div>
                                </li>
                            </ul>
                            
                            {{/each}}  
                        </div>
                    </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-12  text-center">
                {{!-- Available players details --}}
                <button class="btn btn-info" id="showPlayerMarket">Show available players</button>
                <br><br>
                <div id="playerslist">
                {{!-- available players are displayed here --}}
                </div>
            </div>
        </div>     
    {{/if}}
{{/if}}
{{!-- End of manager block --}}

{{!-- Players block --}}
{{#if user.user.player}}
<div class="banner text-center">
    <img src="/img/clubLogo.png" alt="default club logo" width="200px" height="200px">
    <hr style="width: 400px">
</div>


    <div class="playerInfo ">
        <div class="row">
            <div class="adSpace col-lg-4 col-md-4 text-center">
                <h3 class="subheading font-weight-bold">Club: &nbsp &nbsp {{user.user.teamname}}</h3>
                
                {{#if user.user.team_id}}
                    <a href="/api/players/leaveTeam" class="btn btn-danger btn-sm my-3">Leave the club</a>
                 {{/if}}
                {{#each requests}}
                    <div class="card player-card">
                        
                        <div class="card-block text-center">
                            <p class="card-header cardHead">Request from <strong>{{managerName}}</strong></p>
                            <div class="card-body cardBody">
                                <p class="card-text">Club: {{teamName}}</p>
                            </div>
                            <div class="card-footer cardFooter p-1">
                                <form action="/api/requests/accept" method="POST">
                                    <input type="text" name="team_id" value={{team_id}} class="d-none">
                                    <input type="submit" class="btn btn-primary d-inline-block" value="Accept">
                                </form>&nbsp&nbsp
                                <form action="/api/request/reject" method="POST">
                                    <input type="text" name="team_id" value={{team_id}} class="d-none">
                                    <input type="text" name="playerEmail" value={{playerEmail}} class="d-none">
                                    <input type="submit" class="btn btn-danger d-inline-block" value="Reject">
                                </form>
                            </div>  
                        </div>
                    </div>       
                {{/each}}

            </div>
            <div class="personalLists col-lg-8 col-md-8">
                <h4 class="subheading font-weight-bold text-warning p-2">Squad</h4>
             {{#each players}}
             <ul class="pdcol">
                    <li>
                        <div class="label">{{username}}</div>
                        <div class="info">{{position}}</div>
                    </li>
                </ul>
            {{/each}}
            </div>
        </div>
    </div>
{{/if}}
{{!-- End of player block --}}

{{!-- Organizer's block --}}
{{#if user.user.organizer}}
<div class="banner text-center" id="organizer-dashboard">
    <img src="/img/clubLogo.png" alt="default club logo" width="200px" height="200px">
    <hr style="width: 400px">
</div>
<br>
<div class="container">  
    <div class="flex_box">
    {{#each requests}}
        <div class="card helper" style="width: 20rem;">
            <img class="mx-auto" src="/img/club.png" width="50px" height="100px" alt="Card image cap">
            <div class="card-block">
                <p class="card-title text-info text-center">Request to join {{tournament_name}}</p>
                <p class="card-text text-center">This is a request from {{teamname}} to participate in {{tournament_name}}</p>
                <div class=" cardFooter p-1">
                    <form class="accept" >
                        <input type="text" name="tournament_id" value={{tournament_id}} class="d-none">
                        <input type="text" name="team_id" value={{team_id}} class="d-none">
                        <input type="submit" class="btn btn-primary d-inline-block" value="Accept">
                    </form>&nbsp&nbsp
                    <form class="reject">
                        <input type="text" name="team_id" value={{team_id}} class="d-none">
                        <input type="text" name="tournament_id" value={{tournament_id}} class="d-none">
                        <input type="submit" class="btn btn-danger d-inline-block" value="Reject">
                    </form>
                </div>
            </div>  
        </div>
        <br><br>
    {{/each}}
   </div>
</div>
{{/if}}
