<div class="row py-3">
</div>
<div class="row  text-white text-center">
    <div class="col-md-6 mx-auto">
        <div class="frame">
            <img src="{{user.user.img}}" alt="profile picture" id="profile-pic" class="img-fluid">
        </div>
        <br>
        <br>
        <form action="/api/players/uploadPic" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload" id="cloudIcon">Change picture</i> 
                </label>
                <input id="file-upload" type="file" name="profileimg"/>
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col mx-auto">
        <hr>
        <p>This is message {{msg}}</p>
        <p>filepath: {{file}}</p>
        <p>user: {{user.user.id}}</p>
        <p>ima: {{user.user.img}}</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto">

    </div>
</div>