{{#if user.user.organizer}}
    {{#each organizerTournament}}
        <section class="tourneyPage">
            <div class="tourneyContainer1 container-fluid">
                <div class="row">
                    <div class="troContainer col-lg-4 col-md-4 col-sm-3">
                        <div class="trophyImg">
                            <img class="troImg" src="/img/trophy1.jpg" alt="trophy1">
                        </div>
                    </div>
                    <div class="tourneyDetails col-lg-8 col-md-8 col-sm-9">
                        <div class="tourneyLists">
                            <h3 class="subheading font-weight-bold">{{tournamentName}}</h3>
                            <ul class="pdcol">
                                <li class="tourlist">
                                    <div class="label">Date</div>
                                    <div class="info">{{date}}</div>
                                </li>
                            </ul>
                            <ul class="pdcol">
                                <li class="tourlist">
                                    <div class="label">Location</div>
                                    <div class="info">{{location}}</div>
                                </li>
                            </ul>
                            <ul class="pdcol">
                                <li class="tourlist">
                                    <div class="label">Number of Teams</div>
                                    <div class="info">{{number_of_teams}}</div>
                                </li>
                            </ul>
                            <ul class="pdcol">
                                <li class="tourlist">
                                    <div class="label">Number of players on field</div>
                                    <div class="info">{{number}}</div>
                                </li>
                            </ul>
                            <ul class="pdcol">
                                <li class="tourlist">
                                    <div class="label">Prize</div>
                                    <div class="info">Macbook Pro 15inch</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 {{/each}}
{{/if}} 
    
    {{!-- <div class="tourneyContainer2 container-fluid">
        <div class="row">
            <div class="imgContainer col-lg-4 col-md-4 col-sm-3">
                <div class="trophyImg">
                    <img class="troImg" src="/img/trophy2.jpg" alt="trophy1">
                </div>
            </div>
            <div class="tourneyDetails col-lg-8 col-md-8 col-sm-9">
                <div class="tourneyLists">
                    <h3 class="subheading font-weight-bold">Tournament Name</h3>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Date</div>
                            <div class="info">March 27 2018</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Location</div>
                            <div class="info">Central</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Number of Teams</div>
                            <div class="info">16</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Number of players on field</div>
                            <div class="info">7</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Prize</div>
                            <div class="info">Macbook Pro 15inch</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tourneyContainer3 container-fluid">
        <div class="row">
            <div class="imgContainer col-lg-4 col-md-4 col-sm-3">
                <div class="trophyImg">
                    <img class="troImg" src="/img/trophy3.jpg" alt="trophy1">
                </div>
            </div>
            <div class="tourneyDetails col-lg-8 col-md-8 col-sm-9">
                <div class="tourneyLists">
                    <h3 class="subheading font-weight-bold">Tournament Name</h3>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Date</div>
                            <div class="info">March 27 2018</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Location</div>
                            <div class="info">Central</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Number of Teams</div>
                            <div class="info">16</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Number of players on field</div>
                            <div class="info">7</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Prize</div>
                            <div class="info">Macbook Pro 15inch</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tourneyContainer4 container-fluid">
        <div class="row">
            <div class="imgContainer col-lg-4 col-md-4 col-sm-3">
                <div class="trophyImg">
                    <img class="troImg" src="/img/trophy4.jpg" alt="trophy1">
                </div>
            </div>
            <div class="tourneyDetails col-lg-8 col-md-8 col-sm-9">
                <div class="tourneyLists">
                    <h3 class="subheading font-weight-bold">Tournament Name</h3>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Date</div>
                            <div class="info">March 27 2018</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Location</div>
                            <div class="info">Central</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Number of Teams</div>
                            <div class="info">16</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Number of players on field</div>
                            <div class="info">7</div>
                        </li>
                    </ul>
                    <ul class="pdcol">
                        <li class="tourlist">
                            <div class="label">Prize</div>
                            <div class="info">Macbook Pro 15inch</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> --}}
